/* General */
body {
	font-size: 80%;
	font-family: Verdana, Helvetica, sans-serif;
	background: white;
	border: 0px; margin: 0px; padding: 0px;
	cursor: default;
}
ul {
	margin-top: 0px;
}
hr {
	height: 1px;
	color: #ccc;
}
img {
	border-style: none;
	border: 0px;
	margin-top: 16px;
	margin-bottom: 16px;
}
img#logo {
	margin: 0px; !important;
}

/* Tables */
table {
	margin-top: 16px;
	margin-bottom: 16px;
	font-size: 90%;
	line-height: 160%;
}
table tr {
	text-align: left;
}
table th {
	text-align: left;
	background-color: #eee;
	padding: .2em;
	padding-left: .45em;
	padding-right: .5em;
}
table td {
	padding: .2em;
	background-color: #f7f7f7;
	padding-left: .45em;
	padding-right: .5em;
}

/* Headers */
h1#title {
	font-size: 180%;
	font-weight: normal;
	margin: 0px;
}
h1#sub {
	font-size: 160%;
	font-weight: normal;
}

/* Text blocks */
p {
	line-height: 160%;
	margin-top: 0px;
	margin-bottom: 10px;
}
p#navigation {
	line-height: 140%;
}
p#author {
	font-weight: bold;
}
p#note {
	padding-left: 14px;
	padding-top: 14px;
	font-weight: bold;
	background-image: url('../img/note.gif');
	background-repeat: no-repeat;
	background-position: 0 19px;
}
p#warn {
	padding-left: 14px;
	padding-top: 14px;
	font-weight: bold;
	background-image: url('../img/warn.gif');
	background-repeat: no-repeat;
	background-position: 0 19px;
}

/* Links */
a, a:link, a:visited {
	color: #666;
}
a:hover, a:active {
	color: #f60;
}
a.navigation {
	cursor: pointer;
	text-decoration: none;
}
a.navigation:link, a.navigation:visited {
	color: #000;
	border-bottom: 1px dotted #000;
}
a.navigation:hover, a.navigation:active {
	color: #f60;
	border-bottom: 1px dotted #f60;
}

/* Layout */
div#header {
	width: 100%;
	height: 70px;
	margin-bottom: 40px;
	background-image: url('../img/bg.png');
	background-repeat: repeat-x;
}
div#logo {
	margin-lefT: 40px;
	width: 97px;
	height: 70px;
}
div#navigation {
	position: absolute;
	top: 6px;
	left: 160px;
	height: 64px;
	font-size: 80%;
}
div#explorer {
	font-size: 80%;
}
div#date {
	font-size: 80%;
	color: #666;
	margin-bottom: 20px;
}
div#content {
	width: 90%;
	margin-left: 40px;
	margin-bottom: 10px;
}
div#code {
	margin-top: 16px;
	margin-bottom: 16px;
}
div#footer {
	margin-left: 40px;
	margin-top: 8px;
	margin-bottom: 20px;
}

/* Printing */
@media print {
	hr {display: none;}
	a, a:link, a:visited {color: black; text-decoration: none;}
	div#header {display: none;}
	div#date {color: black;}
	div#content {margin: 0px;}
	div#footer {margin-left: 0px;}
}
