/* Main */
.dp-highlighter
{
	font-family: Consolas, "Courier New", Courier, mono, serif;
	font-size: 12px;
	background-color: #efeee8;
	width: 100%;
	overflow: auto;
	margin: 18px 0 18px 0 !important;
	border: 1px solid #ddd;
	cursor: text;
}

/* Clear styles */
.dp-highlighter ol,
.dp-highlighter ol li,
.dp-highlighter ol li span
{
	margin: 0;
	padding: 0;
	border: none;
}
.dp-highlighter .bar
{
	padding-left: 45px;
}
.dp-highlighter.collapsed .bar,
.dp-highlighter.nogutter .bar
{
	padding-left: 0px;
}
.dp-highlighter ol
{
	list-style: decimal; /* For IE */
	background-color: #fff;
	margin: 0px 0px 0px 45px !important; /* 1px bottom margin seems to fix occasional Firefox scrolling */
	padding: 0px;
	color: #5c5c5c;
}
.dp-highlighter.nogutter ol,
.dp-highlighter.nogutter ol li
{
	list-style: none !important;
	margin-left: 0px !important;
}
.dp-highlighter ol li,
.dp-highlighter .columns div
{
	list-style: decimal-leading-zero; /* Better look for others, override cascade from OL */
	list-style-position: outside !important;
	border-left: 3px solid #fc0;
	background-color: #f8f8f8;
	color: #5c5c5c;
	padding: 0 3px 0 10px !important;
	margin: 0 !important;
	line-height: 14px;
}
.dp-highlighter.nogutter ol li,
.dp-highlighter.nogutter .columns div
{
	border: 0;
}
.dp-highlighter .columns
{
	background-color: #f8f8f8;
	color: gray;
	overflow: hidden;
	width: 100%;
}
.dp-highlighter .columns div
{
	padding-bottom: 5px;
}
.dp-highlighter ol li.alt
{
	background-color: #fff;
	color: inherit;
}
.dp-highlighter ol li span
{
	color: black;
	background-color: inherit;
}

/* Adjust some properties when collapsed */
.dp-highlighter.collapsed ol
{
	margin: 0px;
}
.dp-highlighter.collapsed ol li
{
	display: none;
}

/* Additional modifications when in print-view */
.dp-highlighter.printing
{
	border: none;
}
.dp-highlighter.printing .tools
{
	display: none !important;
}
.dp-highlighter.printing li
{
	display: list-item !important;
}

/* Styles for the tools */
.dp-highlighter .tools
{
	padding: 3px 8px 3px 10px;
	font: 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: silver;
	background-color: #f8f8f8;
	padding-bottom: 10px;
	border-left: 3px solid #fc0;
}
.dp-highlighter.nogutter .tools
{
	border-left: 0;
}
.dp-highlighter.collapsed .tools
{
	border-bottom: 0;
}
.dp-highlighter .tools a
{
	font-size: 9px;
	color: #a0a0a0;
	background-color: inherit;
	text-decoration: none;
	margin-right: 10px;
	border-bottom: 1px dotted #a0a0a0;
}
.dp-highlighter .tools a:hover
{
	color: red;
	background-color: inherit;
	text-decoration: none;
	border-bottom: 1px dotted red;
}

/* About dialog styles */
.dp-about { background-color: #fff; color: #333; margin: 0px; padding: 0px; }
.dp-about table { width: 100%; height: 100%; font-size: 11px; font-family: Segoe UI, Tahoma, Verdana, Arial, sans-serif !important; }
.dp-about td { padding: 10px; vertical-align: top; }
.dp-about .copy { border-bottom: 1px solid #aca899; height: 95%; }
.dp-about .title { color: red; background-color: inherit; font-weight: bold; }
.dp-about .para { margin: 0 0 4px 0; }
.dp-about .footer { background-color: #eceadb; color: #333; border-top: 1px solid #fff; text-align: right; }
.dp-about .close { font-size: 11px; font-family: Segoe UI, Tahoma, Verdana, Arial, sans-serif !important; background-color: #eceadb; color: #333; width: 60px; height: 22px; }

/* Language specific styles */
.dp-highlighter .comment, .dp-highlighter .comments { color: #008200; background-color: inherit; font-style: italic; }
.dp-highlighter .string { color: blue; background-color: inherit; }
.dp-highlighter .keyword { color: #069; font-weight: bold; background-color: inherit; }
.dp-highlighter .preprocessor { color: gray; background-color: inherit; }

/* Printing */
@media print {
	.dp-highlighter { border: 0px; background-color: white; overflow: visible; !important; }
	.dp-highlighter .columns { background-color: white; color: black; !important; overflow: visible; !important; }
	.dp-highlighter ol, .dp-highlighter ol li, .dp-highlighter .columns div { background-color: white; color: black; !important; border: 0px; !important; }
	.dp-highlighter ol li span { background-color: white; !important; }
	.dp-highlighter .tools { display: none; }
}
